@model DealerPeak.Models.User

@{
    ViewData["Title"] = "RegisterUser";
}

<h1>Registration Form</h1>

<hr />
@Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-8">
        <form asp-action="RegisterUser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group row">
                <div class="col-xl">
                    <label asp-for="LoginType" class="control-label"></label>
                    @{
                        if (@Model.PageMode.Trim().ToLower().Contains("add"))
                        {
                            <select asp-for="LoginType" class="form-control" name="LoginType">
                                <option value="User" selected>User</option>
                                <option value="Admin">Admin</option>
                            </select>
                        } else {
                            <input asp-for="LoginType" value="@Model.LoginType" readonly class="form-control" />
                        }
                    }
                    <span asp-validation-for="LoginType" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xl">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-xl">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xl">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="col-xl">
                    <label asp-for="City" class="control-label"></label>
                    <select asp-for="City" class="form-control" name="City">
                        <option value="Etobicoke" selected>Etobicoke</option>
                        <option value="Guelph">Guelph</option>
                        <option value="Oakville">Oakville</option>
                        <option value="Oshawa">Oshawa</option>  
                        <option value="Ottawa">Ottawa</option>
                        <option value="Scarborough">Scarborough</option>
                        <option value="Sudbury">Sudbury</option>
                        <option value="Toronto">Toronto</option>
                        <option value="Waterloo">Waterloo</option>
                    </select>
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xl">
                    <label asp-for="Contact" class="control-label"></label>
                    @{
                        if (@Model.PageMode.Trim().ToLower().Contains("add"))
                        {
                                 <input asp-for="Contact" class="form-control" />
                        }
                        else
                        {
                                 <input asp-for="Contact" class="form-control" readonly />
                        }
                    }
                    <span asp-validation-for="Contact" class="text-danger"></span>
                </div>
                <div class="col-xl">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            @{
                if (@Model.PageMode.Trim().ToLower().Contains("add"))
                {
                        <div class="form-group row">
                            <div class="col-xl">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" type="password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="col-xl">
                                <label asp-for="ConfirmPassword" class="control-label"></label>
                                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                } else {
                        <div class="form-group row">
                            <div class="col-xl">
                                <label asp-for="Password" class="control-label"></label>
                                <input asp-for="Password" type="password" value="@Model.Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="col-xl">
                                <label asp-for="ConfirmPassword" class="control-label"></label>
                                <input asp-for="ConfirmPassword" type="password" value="@Model.Password" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                }
            }
            <div class="form-group row">
                <div class="col-xl">
                    @{
                        if (@Model.PageMode.Trim().ToLower().Contains("add"))
                        {
                                 <input type="submit" value="Register" class="btn btn-primary" />
                        }
                        else
                        {
                                 <input type="submit" value="Edit" class="btn btn-primary" />
                        }
                    }
                </div>
                <div class="col-xl">
                    <input type="reset" value="Reset" class="btn btn-secondary" />
                </div>
            </div>
            <input asp-for="PageMode" class="form-control" type="hidden" />
        </form>
    </div>
</div>

<div>
    @{
        if (@Model.PageMode.Trim().ToLower().Contains("add"))
        {
               <a asp-action="Login" asp-controller="User">Login</a>
        }
        else if (@Model.PageMode.Trim().ToLower().Contains("edit") && @Model.LoginType.Trim().ToLower().Contains("admin"))
        {
                <a asp-action="Admin" asp-controller="User">Back to Admin List</a>
        }
        else {
               <a asp-action="Index" asp-controller="User">Back to User List</a>
        }
      }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
